* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: BuenosAires;
    src: url('./fonts/BuenosAires-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: BuenosAires;
    src: url('./fonts/BuenosAires-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: BuenosAires;
    src: url('./fonts/BuenosAires-Thin.ttf');
    font-weight: 100;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom, #FFF0F4, #FFF3F6);
    text-align: center;
    padding-top: 100px;
}

.hero_avatar {
    width: 200px;
    width: 200px;
    border-radius: 50%;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    margin-bottom: 20px;
}

.hero_heading {
    font-size: 96px;
    color: #0A0614;
    font-family: BuenosAires;
    font-weight: bold;
}

.hero p {
    font-size: 30px;
    font-family: BuenosAires;
    font-weight: 100;

}

.hero p span {
    background-color: #4cc9fa;
    padding: 0px 10px;
}

.social-items {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.social-item {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    border-color: #EAEAEA;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-item>img {
    height: 30px;
    width: 30px;
}

.info-container {
    height: 100px;
    width: 100%;
    background-color: rgb(149, 172, 255);
}


.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 20;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

}

.nav-items {
    display: flex;
    gap: 20px;
}

.nav-item {
    font-family: BuenosAires;
    font-weight: thin;
    font-size: 20px;
    color: #0A0614;
    text-decoration: none;
}

.nav-item li {
    list-style-type: none;
}

.nav-item:hover {
    color: #4cc9fa;
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: auto;

}

.thank-you {
    background-color: white;
    padding: 100px 0;
}

.thank-you-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.thank-you-left {
    width: 60%;

}

.thank-you-title {
    font-family: BuenosAires;
    font-weight: bold;
    font-size: 70px;
    color: #0A0614;
}

.thank-you-subtitle {
    font-family: BuenosAires;
    font-weight: 100;
    font-size: 16px;
    color: #0A0614;
}

.thank-you-description {
    font-family: BuenosAires;
    font-weight: 100;
    font-size: 30px;
    color: #0A0614;
    margin-top: 50px;
}

.thank-you-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: blue;
    color: white;
    font-family: BuenosAires;
    font-weight: 100;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 100px;
    text-decoration: none;
}

.thank-you-btn:hover {
    background-color: #4cc9fa;
    color: black;
    text-decoration: none;
}


.thank-you-image {
    width: 100%;

}






.grid-item {
    aspect-ratio: 16/9;

}


.grid-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}











.blog-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    margin-top: 30px;
}

.blog-item {
    width: 100%;
    background-color: rgb(236, 236, 236);

}

.blog-item>img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

.blog-item-content {
    padding: 20px;
}

.blog-item h2 {
    font-family: BuenosAires;
    font-weight: 700;
    font-size: 25px;
}

.blog-item p {
    font-family: BuenosAires;
    font-weight: 100;
    font-size: 16px;
    margin-top: 10px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-item {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: red;
}

.image-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}


.box {
    width: 500px;
    background-color: rgb(244, 255, 224);
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    margin: auto;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}

.circle-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.circle-avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}



.red {
    background-color: red;
    height: 200px;
    width: 200px;
    position: relative;
}

.green {
    background-color: green;
    height: 160px;
    width: 160px;
    position: absolute;
    top: 0;
    right: 0;
}

.blue {
    background-color: blue;
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0;
    right: 0;
}



.position-box {
    position: relative;
    width: 500px;
    background-color: #f4ffe0;
    border: 2px solid black;
    border-radius: 10px;
    margin:auto;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
} 


.position-box > img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    border-radius: 50%;
    border: 2px solid black;
    transform: translateX(-50px);

}



.fixed-container{
    height: 300px;
    width: 60px;
    background-color: red;
    position: fixed;
    top: 50%;
    transform: translateY(-150px);

}